.loader_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    /* margin-top: 40vh; */
}

.loader{
    width: 120px;
}